{% extends 'base.html' %}

{% block title %}
  {{ object.title }} - {{ block.super }}
{% endblock %}

{% block main %}
  <div class="col">
    <h1>{{ object }}</h1>
    <p class="lead">
      {{ object.plot }}
    </p>
  </div>
  <div class="col">
    <ul class="movie-image list-inline">
      {% for i in object.movieimage_set.all %}
        <li class="list-inline-item">
          <img src="{{ i.image.url }}">
        </li>
      {% endfor %}
    </ul>
</div>
  <div class="col">
    <p>Directed by
      {{ object.director }}</p>
    <!--slight different from book: loop over the writers-->
    <p>Written by
      <ul>
        {% for writer in object.writers.all %}
          <li>
            <a href="{% url 'core:PersonDetail' pk=writer.id %}">
              {{ writer }}</a>
          </li>
        {% empty %}
          <li>None</li>
        {% endfor %}
      </ul>
    </p>
    <p>Actors
      <ul>
        {% for credit in object.role_set.all %}
          <li>
            <a href="{% url 'core:PersonDetail' pk=credit.person.id %}">
              {{ credit.person }}</a>: 
              {{ credit.name }}
          </li>
        {% empty %}
          <li>None</li>
        {% endfor %}
      </ul>
    </p>
  </div>
{% endblock %}

{% block sidebar %}
  <div>
    This movie is rated:
    <span class="badge badge-primary">
      {{ object.get_rating_display }}
    </span>
  </div>
  <div>
    <p>
      Total score: {{ object.score|default_if_none:"TBD" }}
    </p>
  </div>
  {% if image_form %}
    <div>
      <p>Upload New Image</p>
      <form method='post'
              enctype="multipart/form-data"
              action="{% url 'core:MovieImageUpload' movie_id=object.id %}">
        {% csrf_token %}
        {{ image_form.as_p}}
        <p>
          <button class='btn btn-primary'>Upload</button>
        </p>
      </form>
    </div>
  {% endif %}
  <div>
    {% if vote_form %}
	  <form
	    method="post"
		  action="{{ vote_form_url }}" >
	    {% csrf_token %}
        {{ vote_form.as_p }}
	    <button class="badge badge-primary" >
	      Vote
	    </button>
	  </form>
	{% else %}
	  <p>Log in to vote for this movie</p>
	{% endif %}
  </div>
{% endblock %}

