{% extends 'base.html' %}

{% block title %}
  {{ object.first_name }}
  {{ object.last_name }}
{% endblock %}

{% block main %}
  <div class="col">
    <h1>{{ object }}</h1>
  </div>
  <p>Actor</p>
  <ul>
    <!--use "role_set" because it gets data from Role, not Movie-->
    {% for role in object.role_set.all %}
      <li>
        <a href="{% url 'core:MovieDetail' pk=role.movie.id %}">
          {{ role.movie }}
        </a>:
        {{ role.name }}
      </li>
    {% endfor %}
  </ul>
  <p>Writer</p>
  <ul>
    {% for movie in object.writing_credits.all %}
      <li>
        <a href="{% url 'core:MovieDetail' pk=movie.id %}">
          {{ movie }}
        </a>
      </li>
  </ul>
  <p>Director</p>
  <ul>
    {% for movie in object.directed.all %}
      <li>
        <a href="{% url 'core:MovieDetail' pk=movie.id %}">
          {{ movie }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
