{% extends "base.html" %}

{% block title %}
Logged out
{% endblock %}

{% block main %}

  <!-- Not provided in book-->
  <h1>Logout page</h1>
  <br></br>
  <p>
    <a href="{% url 'user:login' %}">
      Login
    </a>
  </p>

{% endblock %}