{% extends 'base.html' %}

{% block title %}
Login - {{ block.super }}
{% endblock %}

{% block main %}
  <form method="post">
    {% csrf_token %}
	{{ form.as_p }}
	<button class = "btn btn-primary">
	    Log In
	</button>
  </form>
{% endblock %}